@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tiro+Gurmukhi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

a{
    color: inherit;
}

/* Navigation Bar*/

.nav-bar{
    box-shadow: 0px 5px 5px 1px rgb(182, 182, 182);
}

.nav-bar{
    font-family: "Montserrat", sans-serif;
}


.nav-bar ul{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.nav-bar ul li{
    padding: 5px;
}

.udemy-logo{
    margin: 5px;
    width: 90px;
    height: 60px;
}

.search-li{
    flex-grow: 1;
}

.search-form{   
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.button{
    cursor: pointer;
}

.search-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background-color: white;
}

.search-input{
    border: none;
    height: 40px;
    padding: 5px;
    width: 100%;
    border-radius: 50px;
    outline: none;
}


.login-button, .sign-up-button{
    width: 80px;
    height: 35px;
    font-weight: bold;
    border: 1px solid black;
}

.login-button{
    background-color: white;
}

.sign-up-button{
    background-color: black;
    color: white;
}

.globe-button{
    background-color: white;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

.header{
    height: 400px;
    position: relative;
    background-color: rgb(250, 248, 248);
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

.textbox{
    font-family: "Tiro Gurmukhi", serif;
    font-size:larger;
    position: absolute;
    box-shadow: 0px 5px 5px 1px rgb(182, 182, 182);
    /* display: inline-block; */
    left: 100px;
    padding: 30px;
    top: 50px;
    background-color: white;
}
.new-to-udemy{
    font-size:xx-large;
}

.alarm-img{
    position: absolute;
    height: 320px;
    right: 300px;
    top: 50px;
}

/* Courses Section */

.courses{
    padding: 10px;
    margin-top: 30px;
    margin-left: 100px;
}

.courses-topics{
    margin-left: -15px;
    display: flex;
    flex: wrap;
}

.courses-title{
    font-family: "Tiro Gurmukhi", serif;
    font-size: xx-large;
}

.courses-intro{
    font-family: "Montserrat", sans-serif;
    font-size:large;
}

.courses-topics .topic{
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
}
.inactive{
    color:gray;
}
.active{
    color: black;
}

.courses-box{
    height: 580px;
    position: relative;
    border: 2px solid rgb(226, 226, 226);
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 100px;
    display: flex;
    padding: 40px;

}

.courses-header{
    position: absolute;
    top: 35px;
    font-family: "Tiro Gurmukhi", serif;
    font-size:x-large;
}

.courses-description{
    position: absolute;
    top: 80px;
    font-family: "Montserrat", sans-serif;
    font-size:medium;
    font-weight:500;
    color: black;
}

.explore-python{
    position: absolute;
    padding: 10px;
    top: 155px;
    border:1px solid black;
    background-color: white;
    color:black;
    font-weight: bold;
}

.star{
    color: orange;
}

.courses-cards{
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 235px;
}

.card{
    position: relative;
    padding-right: 15px;
}

.course-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight:bolder;
    font-size:large;
}

.course-author{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(115, 114, 114);
}

.course-item{
    padding-top: 5px;
    display: block;

}

.course-rating-number{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    color: rgba(198, 49, 49, 0.744);
}

.course-enrollment{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: grey;
}


.course-price{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.original-price{
    color: black;
    font-weight: bolder;
}
.old-price{
    text-decoration: line-through;
    color: gray;
}

.data-analysis-course{
    border: 1px solid rgb(226, 226, 226);
}

.card-img{
    width: 100%;
}


/* Media Queries */

@media screen and (min-width: 900px){
    .menu{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .nav-li{
        display: none;
    }
    .menu{
        margin-left: -400px;
        display: block;
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
    }
}


